NODE_ENV="your_environment" #dev/prod
BOT_TOKEN="your_bot_token"
CLIENT_ID="your_bot_client_id" #for registering slash commands
GUILD_ID="your_guild_id" #for guild-specific commands during development
IP_SITE="localhost" #IP address where the web server will run